/* Imports Icons/Fonts */
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
/* Changing Icons */
#nav .links > .link
{
    font-size: 0;
    padding: 0;
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    transition: 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
#nav .links > .browse-wrap
{
    position: absolute;
    right: 0;
}
#nav .links > .link::after
{
    font-size: 24px;
    font-family: "Material Icons";
    font-weight: normal;
    text-transform: none;
}
#nav .links > .browse-wrap > .link
{
    display: none;
}
#nav .links > .link:nth-of-type(1)::after
{
    content: '\e88a';
}
#nav .links > .link:nth-of-type(2)::after
{
    content: '\e8a6';
}
#nav .links > .link:nth-of-type(3)::after
{
    content: '\e30c';
}
#nav .links > .link:nth-of-type(4)::after
{
    content: '\e666';
}
/* Can't figure out
#nav .links > .browse-wrap > .link::after {
 content; '\e894';
} */
#nav .links > .link:nth-of-type(5)::after
{
    content: '\e0bf';
}
#nav .links > .link:nth-of-type(1):hover::after
{
    content: '\e88a';
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.45s ease-in-out;
}
#nav .links > .link:nth-of-type(2):hover::after
{
    content: '\e8a6';
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.45s ease-in-out;
}
#nav .links > .link:nth-of-type(3):hover::after
{
    content: '\e30c';
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.45s ease-in-out;
}
#nav .links > .link:nth-of-type(4):hover::after
{
    content: '\e666';
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.45s ease-in-out;
}
#nav .links > .link:nth-of-type(5):hover::after
{
    content: '\e0bf';
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.45s ease-in-out;
}
/* Adjusts Top Nav Bar  */
#nav .link
{
    transition: transform 0.75s ease-in-out;
}
.site-theme-dark .nav-unscoped.transparent,
.site-theme-dark .nav-unscoped
{
    background: rgb(28, 26, 29, .9);
    color: white;
}
.site-theme-dark .nav-unscoped.transparent:hover
{
    background: rgb(28, 26, 29, 0.95);
    color: white;
}
#nav .link:hover
{
    transform: scale(1.25);
    color: #3db4f2;
}
.logo
{
    filter: brightness(110%);
}
#nav
{
    border-radius: 0 0 20px 20px;
    left: calc((100% - 75%) / 2);
    width: 75%;
    transition: background 0.8s ease 0s, top 0.5s ease 0s !important;
    backdrop-filter: blur(4px);
    height: 60px;
}
.nav .wrap
{
    display: grid;
    grid-template-columns: 70px auto auto 70px;
}
.nav .wrap .links
{
    grid-column-start: 3;
    margin-left: -25px;
}

/* Adds Improved Search Bar */
.nav .wrap .search
{
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05) !important;
    border-radius: 35px;
    width: 100%;
    cursor: text;
    font-family: "Overpass"
}
.nav .wrap .search:after
{
    content: "Search AniList";
    margin-left: 10px;
    color: white;
}
.nav .wrap .user
{
    grid-column-start: 4;
    grid-row-start: 1;
}
.nav .wrap .search:hover svg
{
    background: url(https://raw.githubusercontent.com/Adaptz/Adaptz.github.io/main/CSS-Files/Anilist/Anilist-Images/Monke%20Lick.gif);
    background-repeat: no-repeat;
    background-size: contain;
    color: rgba(0, 0, 0, 0);
    transform: scale(10) translate(0px, 13px) !important;
    transition: .5s ease-in-out;
}
/* Changes Profile Font */
*
{
    font-family: 'Kalam', cursive;
}
/* Adjusts Banner Content (Hidden Follow Button Code From Anzu)*/
.banner
{
    visibility: hidden;
}
.banner > .container
{
    visibility: visible;
    justify-content: center;
    margin-top: 90px;
}
.actions > .nav-btn.donator-badge
{
    display: none;
}
.container > .banner-content
{
    height: 90%;
    width: 0;
    align-items: center;
    justify-content: center;
    display: grid;
    padding-bottom: 340px;
}
.banner-content > .avatar
{
    width: 0;
    height: 0;
    padding: 125px;
    background: url("https://raw.githubusercontent.com/Adaptz/Adaptz.github.io/main/CSS-Files/Anilist/Anilist-Images/Gintoki%203%20Tranparent%20pfp.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 43% 55%;
    border-radius: 150%;
    transition: all 1s ease-in-out;
    border: 6px solid rgb(21, 31, 46);
    z-index: 100;
}
.name-wrapper > .name
{
    position: absolute;
    transition: all 0.5s ease-in-out;
    z-index: 110;
    opacity: 1;
    pointer-events: none;
    padding-top: 10px;
}
.banner-content > .follower-badge
{
    visibility: hidden;
    position: absolute;
    margin: 0;
    padding: 11.5px 10px;
    transition: all 1s ease-in-out;
    top: 44%;
    left: 47.2%;
    border: 2px solid rgb(21, 31, 46);
    color: rgb(21, 31, 46);
    background: #3db4f2 !important;
}
.banner-content > .actions
{
    position: absolute;
    top: 40%;
    margin: 0;
    left: 46.6%;
    transition: all 1s ease-in-out;
}
.actions > .nav-btn
{
    visibility: hidden;
    width: 84.14px;
    transition: all 1s ease-in-out;
    overflow: hidden;
    position: relative;
    border: 2px solid rgb(21, 31, 46);
    color: rgb(21, 31, 46);
    background: #3db4f2 !important;
}
.banner-content:hover > .actions > .nav-btn
{
    visibility: revert;
    width: 84.14px;
    transition: all 1s ease-in-out;
    overflow: hidden;
    position: relative;
    border: 2px solid rgb(21, 31, 46);
    color: rgb(21, 31, 46);
    background: #3db4f2 !important;
}
.el-dropdown-menu.el-popper.el-dropdown-menu--small
{
    background: none;
    box-shadow: none;
}
.banner-content:hover > .avatar
{
    transform: scale(1.1);
    width: 0;
    height: 0;
    padding: 125px;
    filter: brightness(110%);
    background: url("https://raw.githubusercontent.com/Adaptz/Adaptz.github.io/main/CSS-Files/Anilist/Anilist-Images/Transparent%20Gintoki%20Animation%20pfp.gif");
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: 47% 0%;
    border-radius: 150%;
}
.banner-content:hover > .follower-badge
{
    visibility: revert;
    transform: translateX(-200px);
    color: rgb(21, 31, 46);
    position: absolute;
    margin: 0;
    padding: 11.5px 10px;
    transition: all 1s ease-in-out;
    top: 44%;
    left: 47.2%;
    border: 2px solid rgb(21, 31, 46);
    background: #3db4f2 !important;
}
.banner-content:hover > .actions
{
    visibility: revert;
    transform: translateX(220px);
}
.banner-content:hover > .name
{
    opacity: 0;
}
/* Properly Aligns Activity Header */
.activity-feed-wrap > .section-header
{
    /* padding-left: 0px; */
    /* padding-right: 220px; */
    display: flex;
    flex-direction: column;
    align-self: center;
}
/* Turns Activity in to a Gif */
.activity-feed-wrap > .section-header::before
{
    transition: transform .7s ease-in-out;
    visibility: visible;
    content: url(https://raw.githubusercontent.com/Adaptz/Adaptz.github.io/main/CSS-Files/Anilist/Anilist-Images/Come%20Slide%20me%20a%20Message!-2.gif);
    background: rgb(21, 31, 46, 0.8);
    border-radius: 20px;
    border: 2px solid #3db4f2;
    font-size: 1.3rem;
    overflow: hidden;
    position: relative;
    align-self: center;
    max-height: 168px;
    margin-bottom: 20px;
}
.activity-feed-wrap > .section-header:hover::before
{
    border: solid #3db4f2 1px;
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.45s ease-in-out;
}
.activity-feed-wrap > .section-header
{
    font-size: 0;
}
/*Adds Custom Images to Activity History */
.activity-history.content-wrap:hover > h2.section-header,
.activity-history.content-wrap:hover
{
    transition: all .45s ease-in-out;
    margin-bottom: 35px;
    margin-top: 25px;
}
.desktop:hover > .activity-history
{
    transition: all .45s ease-in-out;
    grid-gap: 10px 0px;
    grid-template-rows: repeat(14, 1fr);
}
.activity-history.content-wrap:hover > .history-day
{
    transition: all .45s ease-in-out;
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 20px;
}
.activity-history.content-wrap > .history-day
{
    border-radius: 20px;
}
.history-day.lv-1,
.history-day.lv-2,
.history-day.lv-3
{
    content: url(https://raw.githubusercontent.com/Adaptz/Adaptz.github.io/main/CSS-Files/Anilist/Anilist-Images/Gintoki%20Chibi%20Head.png);
    animation: rotation 20s infinite linear;
}
.history-day.lv-4,
.history-day.lv-5,
.history-day.lv-6
{
    content: url(https://raw.githubusercontent.com/Adaptz/Adaptz.github.io/main/CSS-Files/Anilist/Anilist-Images/Sleepy%20Gintoki%20Chibi%20Head.png);
    animation: rotation 10s infinite linear;
}
.history-day.lv-7,
.history-day.lv-8,
.history-day.lv-9
{
    content: url(https://raw.githubusercontent.com/Adaptz/Adaptz.github.io/main/CSS-Files/Anilist/Anilist-Images/Gintoki%20Chibi%20Christmas%20Head.png);
    animation: rotation 5s infinite linear;
}
.activity-history.content-wrap > .history-day
{
    background: transparent;
}
.activity-history.content-wrap > .history-day.lv-0
{
    background: rgb(var(--color-foreground-grey-dark));
}
/* Changes Text to White as Well as Turns the Background Blue */
.filter-group .active[data-v-063397cc],
.filter-group a.router-link-active[data-v-1e00b9da],
.user-social .filter-group span.active,
.filter-group span.active[data-v-3ed82f3f],
.hohActive,
div.link:nth-child(2)
{
    background: #3db4f2;
    color: white;
}
/* Changes Text to White */
.actions .time,
.activity-entry .time,
.activity-message .wrap > .text .activity-markdown,
.activity-text .wrap > .text .activity-markdown,
.embed,
.header-wrap .nav-wrap .link,
.home .activity-feed-wrap .section-header .el-dropdown-menu__item,
.list.small .details,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.reply .markdown,
.user .activity-feed-wrap .section-header .el-dropdown-menu__item,
.action.likes .button:hover.fa-heart,
.action.likes .button.fa-heart,
.button > .count,
.section-header,
.filter-group span,
.filter-group div,
#hohDraw3x3,
.label,
.section-name,
.score,
.progress,
.format,
.heading,
.no-reviews,
.notes,
.time,
.row > .title,
.filters
{
    color: white !important;
}
.action.likes .button.liked,
.action.likes .button.liked .fa-heart,
.button.liked > .count
{
    color: #3db4f2 !important;
}
.action.likes .button .fa-heart
{
    stroke: white;
}
.count
{
    font-size: .75em !important;
}
/* Makes Donator Badge in Activity Comments Have a Blue Background */
.text .donator-badge
{
    background: white;
    border: 2px solid #3db4f2;
    color: #3db4f2;
    border-radius: 20px;
}
/*Changes Text Beside Name in Profile */
.name-wrapper > .name::after
{
    content: "Monke Lord 🐒";
    position: relative;
    background: white;
    border: 3px solid #3db4f2;
    border-radius: 20px;
    margin-left: 10px;
    padding: 5px 6px;
    text-align: center;
    color: #3db4f2;
}
/*Changes Text Beside Name For Selected Users */
[href="/user/Adaptz/"]:not(.avatar):not(.user):not(.link):not(.primary-link)::after
{
    content: 'Monke 🐵';
}
[href="/user/ChriSenpai/"]:not(.avatar):not(.user):not(.link):not(.primary-link)::after
{
    content: 'CSS 🐐';
}
[href="/user/braindead/"]:not(.avatar):not(.user):not(.link):not(.primary-link)::after
{
    content: '<---True';
}
[href="/user/SkylarSays/"]:not(.avatar):not(.user):not(.link):not(.primary-link)::after
{
    content: 'Anilist Addict 😵';
}
[href="/user/AFuckingWeeb/"]:not(.avatar):not(.user):not(.link):not(.primary-link)::after
{
    content: 'Don 🥶';
}
/* Creates Animation for Text Beside Name */
.header > a ~ a::after
{
    content: '<---Valid';
    position: relative;
    padding: 5px 8px;
    border-radius: 20px;
    font-size: 1.2rem;
    color: #ffff;
    transition: .5s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: rainbow;
    animation-timing-function: ease-in-out;
}
/* Makes Chika Image Better Because Mods Won't Accept Submissions */
a.character:nth-child(1)
{
    background-image: url("https://i.imgur.com/14oE0wd.jpg") !important;
}
a.character:nth-child(2)
{
    background-image: url("https://i.imgur.com/esLELuk.png") !important;
}
/* Stats */
.list-stats
{
    height: 80px;
}
.list-stats:hover
{
    height: 126px !important;
}
/* Spoler Changes */
.markdown .markdown-spoiler::before
{
    content: "You sure you wanna click bro? 😳";
    background: white;
    border: 2px solid #3db4f2 !important;
    border-radius: 20px;
    color: #3db4f2 !important;
}
.markdown .markdown-spoiler.spoiler-visible span
{
    background: transparent;
}
/* Creates Special Overlay with Use of some html in bio (Written by cakes) */
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"]
{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: -500px;
    background: rgb(21, 31, 46, 0.8);
    z-index: 100;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    transition: left 0.3s ease-in-out;
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"]:focus-within
{
    left: 0;
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"] > b[href="arrow"]
{
    width: 40px;
    height: 100px;
    background: rgb(28, 26, 29, .9);
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    position: fixed;
    top: calc(50% - 50px);
    left: 0;
    border-right: 2px solid #3db4f2;
    border-top: 2px solid #3db4f2;
    border-bottom: 2px solid #3db4f2;
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"] > b[href="arrow"] > a
{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"] > b[href="arrow"] > a::after
{
    content: '';
    mask: url(https://i.imgur.com/btj9V2v.png) no-repeat 50% 50%;
    -webkit-mask: url(https://i.imgur.com/btj9V2v.png) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    width: 13px;
    height: 16px;
    margin-right: 5px;
    background-color: #3db4f2;
    transform: scale(5)
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"]:focus-within > b[href="arrow"]
{
    width: 100%;
    height: 100%;
    transition: all 0s linear;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"]:focus-within > b[href="arrow"] > a
{
    width: 0;
    height: 0;
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"]:focus-within > b[href="arrow"] > a::after
{
    content: "";
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"]:focus-within > a[href="#"]
{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"] > b[href="list"]
{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
    pointer-events: none;
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"] > b[href="list"] > a
{
    width: 90%;
    text-align: center;
    padding: 70px 0px;
    color: white;
    font-weight: 400;
    font-size: 3rem;
    border-radius: 20px !important;
    pointer-events: auto;
    transition: background linear 0.35s;
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"] > b[href="list"] > a:hover
{
    background: rgba(0, 0, 0, 0.3);
    transition: background linear 0.1s;
}
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"] > b[href="list"] > a:nth-of-type(1)::after
{
    content: 'aaaaa';
    background-image: url(https://raw.githubusercontent.com/Adaptz/Adaptz.github.io/main/CSS-Files/Anilist/Anilist-Images/Blue%20Discord%20Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: rgba(0, 0, 0, 0);
    padding: 50px 40px;
}
/* Extra for more links
.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]
  > b[href="list"]
  > a:nth-of-type(2)::after {
    content: 'aaaaa';
    background-image: url( );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: rgba(0,0,0,0);
    padding: 50px 30px;
  } */
/* Creates Cursors for Specified Areas */
.pointer,
a[href],
button,
input[type=image],
input[type=submit],
label[for],
select
{
    cursor: url(https://i.imgur.com/PiaWNAG.png), auto
}
a,
a:link img
{
    cursor: url(https://i.imgur.com/PiaWNAG.png), auto!important
}
.actions .time,
.actions .time .action,
.footer .links a,
.hohBackgroundCover,
.hohMediaImageContainer > a,
.hohNotification,
.hohUserImage,
.home .activity-feed-wrap .section-header .el-dropdown-menu__item,
.markdown,
.markdown .markdown-spoiler,
.markdown .markdown-spoiler.spoiler-visible i.hide-spoiler,
.markdown .markdown-spoiler::before,
.markdown .markdown-spoiler:before,
.markdown img,
.markdown-editor > div,
.result .info,
.theme-preview.dark-contrast,
.time .action.active,
.user .activity-feed-wrap .section-header .el-dropdown-menu__item,
a:-webkit-any-link
{
    color: white;
    cursor: url(https://i.imgur.com/PiaWNAG.png), pointer
}
.actions .action,
.button.cancel
{
    color: white!important
}
*
{
    cursor: url(https://i.imgur.com/LPkw5JV.png), pointer
}
/* Creates Borders and Changes Background and Radius */
.input .el-textarea__inner,
.medialist.table .list-section,
.wrap > .follow-card,
.favourites > .favourites-wrap,
.el-dropdown-menu.el-popper.activity-extras-dropdown.el-dropdown-menu--medium
{
    background: none;
}
.activity-entry > .wrap
{
    border-radius: 20px;
    border-left: 5px solid #3db4f2 !important;
    border-right: 5px solid #3db4f2 !important;
}
.favourite.media,
.favourite.character,
.favourite.staff,
.favourite.studio
{
    background-position: 50%;
    border-radius: 20px;
    border: 2px solid #3db4f2;
}
.site-theme-dark .overview .favourite.studio
{
    background-color: rgb(28, 26, 29, .9) !important;
}
.user-wrap > .dropdown,
.user .about > div.content-wrap,
.activity-entry > .wrap,
.activity-edit > .markdown-editor,
.stats-wrap > .list-stats.content-wrap,
.user .about > div.content-wrap,
.desktop > .activity-history.content-wrap,
.desktop > .genre-overview.content-wrap,
.favourite,
.scroller > .load-more,
.el-textarea,
.el-dropdown-menu__item,
#hohNotifications > div,
.list-wrap,
.reply.preview,
.activity-replies > .reply
{
    background: none;
    background: rgb(28, 26, 29, .9);
    border-radius: 20px;
    border: 2px solid #3db4f2;
    font-size: 1.3rem;
    overflow: hidden;
}
.header-wrap > .nav-wrap
{
    background: rgb(28, 26, 29, .9);
    border-radius: 20px 20px 0px 0px;
    border: 2px solid #3db4f2;
    font-size: 1.3rem;
    overflow: hidden;
}

.list-stats > .footer
{
    background: rgb(28, 26, 29);
}
.el-dropdown-menu
{
    padding-left: 0;
}
.activity-entry > .wrap:hover,
.list-stats:hover,
.activity-history:hover,
.genre-overview:hover,
.load-more:hover,
.el-textarea:hover,
.el-dropdown-menu__item:hover
{
    border: solid #3db4f2 1px;
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.45s ease-in-out;
}

.favourites .favourite:hover
{
    transition: transform 0.5s;
    transform: scale(1.2);
    z-index: 20;
}

.favourites > .favourites-wrap,
.activity-replies > .reply,
.list-wrap
{
    overflow: visible;
}
@keyframes rotation
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(359deg);
    }
}
.wrap:hover .header > .avatar,
.users > .user:hover,
.reply:hover .header > .avatar
{
    border: 2px solid rgb(21, 31, 46);
    border-radius: 20px;
    animation: rotation 2s infinite linear;
}
.wrap > .text > .header > .avatar,
.reply > .header > .avatar
{
    border: 2px solid rgb(21, 31, 46);
    border-radius: 20px;
}
.content.container
{
    padding: 0px !important;
    width: 85%;
    max-width: 85%;
    border-left: 2px solid #3db4f2;
    border-right: 2px solid #3db4f2;
    border-bottom: 2px solid #3db4f2;
    border-radius: 0 0 20px 20px;
}
.content > .overview,
.medialist.table,
.content.container > .favourites,
.content.container > .stats,
.content.container > .user-social,
.content.container > .user-reviews,
.content.container > .submissions
{
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 30px;
    background: rgb(28, 26, 29, .4);
    border-radius: 0 0 20px 20px;
}
.section-header > .el-dropdown
{
    display: flex;
    align-self: center;
}
.actions > .el-dropdown
{
    visibility: hidden;
}
.banner-content:hover > .actions > .el-dropdown
{
    visibility: visible;
}
.banner-content:hover > .el-dropdown-menu li
{
    background: rgb(28, 26, 29, .9) !important;
}

/* Firefox Scrollbar */
.about > .content-wrap
{
    scrollbar-width: none;
}
.text > .activity-markdown > .markdown
{
    scrollbar-width: none;
}
.user .about > div.content-wrap
{
    scrollbar-width: none;
}
*
{
    scrollbar-width: thin;
    scrollbar-color: #3db4f2 rgb(28, 26, 29);
}
/* Chrome Scrollbar */
::-webkit-scrollbar
{
    width: 6px;
    background: #01232d;
}
::-webkit-scrollbar-corner
{
    background: #01232d;
}
::-webkit-scrollbar-thumb
{
    background: #3db4f2;
    -webkit-border-radius: 1ex;
}
/*Secondary Nav Bar Changes*/
.header-wrap > .nav-wrap
{
    width: 85%;
    margin: 0 auto;
}
.header-wrap .nav-wrap .link
{
    color: white !important;
}
.header-wrap .nav-wrap .router-link-active
{
    color: #3db4f2 !important;
    border-bottom: solid #3db4f2 4px;
}
.header-wrap .nav-wrap .link:hover
{
    transform: scale(1.05);
    color: #3db4f2 !important;
    border-bottom: solid #3db4f2 4px;
}
.header-wrap .nav-wrap .router-link-active:hover
{
    transform: scale(1.05);
    color: #86e1f7 !important;
    border-bottom: solid #86e1f7 4px;
}
/* Background image (change the URL to change the image) */
body
{
    background: rgb(var(--color-background)) url("https://raw.githubusercontent.com/Adaptz/Adaptz.github.io/main/CSS-Files/Anilist/Anilist-Images/City%20Lights.gif") top/100% fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
