@-moz-document domain("mangareader.to") {
#header #logo
{
	height: 50px;
	width: 160px;
	background-image: url('https://files.catbox.moe/g5p7ep.png') !important;
	background-size: cover;
	background-position: center center;
}
#footer .footer-logo
{
	height: 60px;
	width: 192px;
	background-image: url('https://files.catbox.moe/g5p7ep.png') !important;
	background-size: cover;
	background-position: center center;
}
@media screen and (min-width: 1400px)
{
	#header.header-reader #logo
	{
		height: 47.5px;
		width: 152px;
		background-image: url('https://files.catbox.moe/g5p7ep.png') !important;
		background-size: cover;
		background-position: center center;
	}
}
#header #logo img,
#footer .footer-logo img,
#header.header-reader #logo img
{
	width: 0px;
	height: 0px;
}
body.darkmode .cbox.cbox-list .featured-block-chart li .manga-detail .fdi-chapter a,
body.darkmode .dwl-ul .dwl-item .on-chapt a,
body.darkmode .inbox-item .highlight-text,
body.darkmode .manga_list-sbs .mls-wrap .item .manga-detail .fd-list .fdl-item .chapter a,
body.darkmode .news-article .news-title,
body.darkmode .rtf-content .arrow i,
body.darkmode .table_schedule .table_schedule-list li .manga-detail .fd-play .btn-play,
body.darkmode .table_schedule .table_schedule-list li .time,
body.darkmode a:hover,
body.darkmode #sidebar_menu .sidebar_menu-list > .nav-item .nav > .nav-item > .nav-link:hover,
body.darkmode #sidebar_menu .sidebar_menu-list > .nav-item > .nav-link:hover,
body.darkmode .anw-tabs .nav-item .nav-link:hover,
body.darkmode .cw_l-line .ibody p a.tag-name,
body.darkmode .cw_l-line .ibottom .ib-li .btn.active,
body.darkmode .cw_l-line .ibottom .ib-li .btn:hover,
body.darkmode .featured-block-ul li .manga-detail .fd-infor .fdi-item.fdi-chapter a,
body.darkmode .mr-ranking span,
body.darkmode .read-tips .read-tips-follow .notice .highlight-text,
body.darkmode .stx-center .stx-title,
body.darkmode .checked-list li::before,
.fa-bookmark,
body.darkmode .ctn-item .ctn-detail .manga-detail .reading-load .rl-text,
body.darkmode .xhashtag .item:hover
{
	color: #83d1ff;
}
body.darkmode #discussion .pre-tabs .nav-item .nav-link.active,
body.darkmode .dropdown-menu-model .dropdown-item.active,
body.darkmode .chapters-list-ul ul .item:hover a,
body.darkmode .cbox.cbox-list .featured-block-chart li.item-top .ranking-number span,
body.darkmode .link-highlight,
body.darkmode #header_menu .header_menu-sub ul.sub-menu li:hover a,
body.darkmode .mg-item-basic .fd-infor a:hover,
body.darkmode .dropdown-menu-model .dropdown-item.added,
body.darkmode .dropdown-menu-model .dropdown-item:hover,
body.darkmode .new-noti-list .nnl-mark a:hover,
body.darkmode .new-noti-list .nnl-item:hover,
body.darkmode .cmbg-wrap .item:hover,
body.darkmode .cmbg-wrap .item.active,
body.darkmode .text-primary,
body.darkmode .checked-list li::before,
body.darkmode .anis-content .anisc-detail .genres a:hover,
body.darkmode .sbs-text .sbst-row .sr-items a:hover,
body.darkmode .profile-avatar .pa-edit,
.pre-tabs-hashtag .nav-item .nav-link.active
{
	color: #83d1ff !important;
}
.chapters-list-ul ul .item a:hover::before,
.chapters-list-ul ul .item.highlight .item-read,
body.darkmode .toggle-onoff.active span,
body.darkmode .cb-li .btn.btn-spoil.active i
{
	background: #83d1ff;
}
body.darkmode .premodal .btn.btn-primary
{
	background-color: #83d1ff !important;
}
.anisc-info .block-rating,
.chap-tabs,
body.darkmode .s-tabs
{
	border-color: #83d1ff;
}
body.darkmode #discussion .pre-tabs .nav-item .nav-link.active
{
	border-color: #83d1ff !important;
}
.search-content .filter-icon,
.s-tabs .nav-item .nav-link.active
{
	background: #e5f6ff;
}
.premodal .btn.btn-secondary
{
	background: #e5f6ff !important;
}
.hr-notifications .hrn-icon,
.more a,
body.darkmode .toggle-onoff.active,
#sub-header,
body.darkmode .anw-tabs.active,
.anw-tabs .nav-item .nav-link.active,
.search-content .filter-icon:hover,
.chap-tabs .nav-item .nav-link.active,
.block-rating,
.more a:hover
{
	background: #005f97;
}
.chapters-list-ul ul .item.active a,
.pre-tabs-min .nav-item .nav-link.active,
body.darkmode .pre-pagination .pagination .page-item.active .page-link,
.btn-focus,
.btn-focus:hover,
.chapters-list-ul ul .item:hover .item-read,
.comment-input .ci-buttons .btn-primary,
body.darkmode .menu-profiles li.active .mp-item
{
	background: #005f97 !important;
}
.s-tabs .nav-item .nav-link.active,
.hr-notifications.show .hrn-icon,
.cbox.cbox-list .featured-block-chart li:hover .ranking-number span,
.anis-content .anisc-detail .manga-buttons .btn-fav:hover i,
.anis-content .anisc-detail .manga-buttons .btn-fav.active i,
.search-content .filter-icon
{
	color: #005f97;
}
.premodal .btn.btn-secondary
{
	color: #005f97 !important;
}
.btn-focus,
.btn-focus:hover,
.chap-tabs,
.anisc-info .block-rating
{
	border-color: #005f97 !important;
}
.anis-content .anisc-detail .manga-buttons .btn-fav:hover i
{
	color: #006fb1;
}
body.darkmode #header
{
	background: #006fb1;
}
#toast-container > div.toast-success
{
	background-color: #006fb1 !important;
}
.search-content .filter-icon:hover
{
	color: #fff;
}
a.btn-primary
{
	color: black;
	opacity: .8;
}
.fa, .far, .fas
{
	color: revert;
}
.block-rating .rated
{
	background: revert;
}
#header.header-reader
{
	background: #222;
}
*
{
	scrollbar-color: #3db4f2 #202125;
	scrollbar-width: thin;
}
}
