@-moz-document url-prefix("https://9anime") {
:root
{
    --blue: #3db4f2;
    /* Main Blue Color */
    --lightblue: #83d1ff;
    /* Secondary Blue Color */
    --darkblue: #0e7099;
    /* Blue for Dark Hover */
    --white: #dedede;
    /* Site Default White/Bright Text */
    --grey: #666/* Site Default Grey/Dark Text */
}
.logo
{
    background-image: url(https://i.imgur.com/2KZN7GF.png);
}
section#schedule .head
{
    background-image: url(https://i.imgur.com/Frl8gOb.png);
}
footer .container
{
    background-image: url(https://i.imgur.com/sykyKLy.jpg);
}
#i-wrapper #i-top
{
    background-image: url(https://i.imgur.com/xbi6akh.jpg);
}
#w-info .brating .rating
{
    background-image: url(https://i.imgur.com/wTuQbAS.png);
}
section#top-anime .side.items .item.rank1 .inner .rank
{
    background-image: url(https://i.imgur.com/Dm3Y6Jm.png);
}
.error-page .icon
{
    background-image: url(https://i.imgur.com/Ip9QZYI.png);
}
.modal#sign .modal-dialog.with-image .modal-content.login::before
{
    background-image: url(https://i.imgur.com/vGgwMAB.png);
}
body,
body.index
{
    background-color: #101112;
    color: var(--white) !important;
}
header.fixed,
header
{
    background: #1e1f20;
}
header .main-menu,
header #menu > ul > li > ul + a::after,
header #menu > ul > li > a,
.head-box .tabs-sm .tab.active,
.head-box .tabs-sm .tab:hover,
.head-box .actions .filter:hover,
#hotest .item .info .synopsis,
.dropdown-item,
.ani.items .item .info .name,
.ani.items .item .poster .meta,
.ep-status,
section.top-table .head .title,
section#schedule .head .days .items .day .inner:hover,
section#schedule .head .days .items .day.active .inner,
footer .inline-links ul li a,
.text-tabs .tab.active,
.text-tabs .tab:hover,
section .head .paging > span.active,
section .head .paging > span:hover,
header #search form button:hover,
#search .search-popup .s-close:hover,
#i-wrapper ul#i-menu li a,
.breadcrumb-item a:hover,
.breadcrumb-item.active,
.breadcrumb-item.active a,
.nav-link.active,
.nav-link:hover,
.page-link:hover,
#w-info .binfo .info .synopsis,
#w-info .binfo .info .meta > div > span a,
#w-info .binfo .info .meta > div > span,
#w-player #controls .ctrl:hover,
#w-player #w-servers .tip,
.form-control::placeholder,
.show > .btn-secondary.dropdown-toggle,
.user-menu a.active,
.user-menu a:hover,
.user-nav-folders a.folder.active,
.user-nav-folders a.folder:hover,
.user-nav-folders .manage-folders .dropdown-menu > li .folder .action:hover,
.watchlist.items .item .info .name a,
.user-actions a,
.text-muted,
#w-seasons .seasons .season a .name,
.scaff.items .item .info .name,
section#schedule .body .items a,
section#top-anime .side.items .item .info .name,
section#schedule .body .more:hover,
.custom-file-label::after,
.btn:hover,
.modal-content,
.modal-header .modal-title,
.donate-box .address .action > div,
.dropdown-menu,
.display-modes .mode,
.display-modes .mode.active,
.display-modes .mode:focus,
.display-modes .mode:focus-within,
.display-modes .mode:hover,
.ani.items .no-item,
.modal#sign .form-group .icon,
#search .search-popup .foot > a,
#w-episodes .body .episodes.name ul li a,
#w-media #w-player #player-wrapper #player .play
{
    color: var(--white);
}
.tooltipster-content,
.meta.icons i.rating,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover,
.form-control,
.ep-status.sub,
.ep-status.sub > span
{
    color: var(--white) !important;
}
#search .search-popup .s-close:hover,
.donate-box .address .action > div,
#w-media #w-player #player-wrapper #player .play
{
    border-color: var(--white);
}
.meta.icons i.rating,
.btn-light2
{
    border-color: var(--white) !important;
}
.meta.icons i.quality,
.tooltipster-content .actions .watch,
.tooltipster-content .actions .favourite span,
.ep-status.total::before,
.head-box .tabs-sm .tab.active::after,
.head-box .tabs-sm .tab:hover::after,
.badge-light2,
header #user .placeholder,
section#schedule .head .days .items .day .inner::after,
#w-player #w-servers .servers .type ul li:hover,
.btn-light2,
.btn-light,


{
    background: var(--white) !important;
}
.head-box .actions .filter,
section.top-table .body .items .item .info .meta span,
section#schedule .head .now,
section#schedule .head .days .items .day .inner,
.tabs .tab,
.scaff.items .item .info .meta,
footer .azlist .head .desc,
footer .inline-links label,
footer .copyright,
footer .disclaimer,
.text-tabs .tab,
section .head .paging > span,
section .head .paging > span.disabled,
header #search form input::placeholder,
header #search form button,
header #search form input,
#search .search-popup .s-close,
#search .search-popup .foot,
.error-page .message,
header #search form .tip .icon,
footer .azlist ul li a,
header #search form .tip,
.breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-item a,
.nav-link,
.page-link,
.page-item.disabled .page-link,
.w2g-item .room .info .name,
.w2g-item .room .info .created strong,
.w2g-item .room .info .created time,
.w2g-item .screen .anime .inner .info .meta,
.w2g-item .screen .time span,
.w2g-item .screen .time,
#w-info .binfo .info .names,
.shorting .toggle,
#w-info .binfo .info .meta > div,
#w-player #controls .ctrl,
.side.items .item .info .relation,
.btn-secondary,
.user-menu a,
.dropdown-menu > li > label,
.user-nav-folders a.folder.active,
.user-nav-folders a.folder,
.watchlist.items .item .info .detail,
.user-info ul.meta,
.profile-container .form-group label,
section .head .more,
section#schedule .body .more,
.head-box .tabs-sm .tab,
.user-notification .body-box .items .item.old .info .name,
.btn,
.donate-box .address .info .addr,
#w-episodes .body .episodes.name ul li a:visited,
.side.items .item .info .meta .score,
.list-info,
.display-modes .mode,
span.rating,
section#schedule .body .items a.item.old
{
    color: var(--grey);
}
.tabs .tab:hover,
.w2g-item .room .info .created time::before
{
    background: var(--grey);
}
span.rating
{
    border-color: var(--grey);
}
.ani.items .item .poster .meta,
section.top-table .body .items .item,
.side.items .item .inner,
.tabs,
footer .azlist ul li a,
.w2g-item .screen .anime .inner .info .status,
#w-player #w-servers .tip,
.btn-secondary,
.form-control,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle,
.user-menu,
.watchlist.items,
.user-sidebar
{
    background: #262729;
}
section.top-table .body .items .item:hover,
.side.items .item .inner:hover,
.btn-secondary:hover
{
    background: #2f3133;
}
section#schedule .body,
.w2g-item > .inner,
section#schedule .body .more,
.donate-box
{
    background: #141517;
}
.w2g-item:hover > .inner,
.user-actions
{
    background: #1a1c1f;
}
section#schedule .body .items a.item:hover,
section#schedule .body .more:hover
{
    background: #18191c;
}
section#top-anime .side.items .item:hover .info .name,
a,
#w-player #w-servers .tip b,
.scaff.items .item:hover .info .name,
.room-chat .body .messages .message .msg-body .user,
.meta.icons .ep
{
    color: var(--lightblue);
}
.btn-primary,
.custom-control-input:not(:disabled):active ~ .custom-control-label::before
{
    background: var(--lightblue);
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before
{
    border-color: var(--lightblue);
}
#w-info .brating .rating .score .value,
header .main-menu:hover,
header .main-menu:hover .icon,
header .main-menu:hover i,
.top-profile .notify .toggler:hover,
section .head .more:hover,
.ani.items .item .info .name:hover,
a:hover,
section.top-table .body .items .item:hover .info .name,
section.top-table .head a.title:hover,
.user-info .level,
.watchlist.items .item .info .name a:hover,
.dropdown-menu > .active > label,
.dropdown-menu > .active > label:focus,
.dropdown-menu > .active > label:hover,
.dropdown-menu > li > input:checked ~ label,
.dropdown-menu > li > input:checked ~ label:focus,
.dropdown-menu > li > input:checked ~ label:hover,
.dropdown-menu > li > label:hover,
.user-actions a:hover,
.dropdown-item.active,
.dropdown-item:active,
footer .inline-links ul li a:hover,
#i-wrapper ul#i-menu li a:hover,
section#schedule .body .items a.item:hover .title,
.tooltipster-sidetip .tooltipster-content .title,
.user-notification .body-box .items .item .text-focus,
.user-notification .body-box .items .item .highlight,
.user-notification .body-box .items .item.old .highlight
{
    color: var(--blue);
}
.text-primary
{
    color: var(--blue) !important;
}
section#schedule .body .items a.item:hover .ep,
.tabs .tab.active:hover,
.btn-primary,
.swiper-pagination-bullet-active,
.tabs .tab.active,
#w-episodes .body .episodes.number ul li a.active,
#w-episodes .body .episodes.number ul li a.active:visited,
#w-player #w-servers .servers .type ul li.active,
footer .azlist ul li a:hover,
#w-episodes .body .episodes.name ul li a.active,
#w-episodes .body .episodes.name ul li a.active:visited,
.top-profile .notify .toggler.active::before,
.page-item.active .page-link,
#w-player #controls .dropdown-menu.skiptime li .input .block .line::after,
#w-player #controls .dropdown-menu.skiptime li .input .block .line::before,
#w-media #w-player #player-wrapper #player .play,
.custom-control-input:checked ~ .custom-control-label::before,
header #user .sign-in,
.room-chat .body .messages .message.self .msg-body .text
{
    background: var(--blue);
}
.tooltipster-content .actions .watch:hover,
#w-player #w-servers .servers .type ul li.active:hover
{
    background: var(--blue) !important;
}
.btn-primary,
.custom-control-input:checked ~ .custom-control-label::before,
section#top-anime .side.items .item.rank1 .inner,
.page-item.active .page-link,
.page-link:hover,
#w-player #controls .dropdown-menu.skiptime li .input .block .line,
#w-seasons .seasons .season a:hover::after,
#w-seasons .seasons .season.active a::after
{
    border-color: var(--blue);
}
#w-episodes .body .episodes.number ul li a.highlight,
.user-edit-avatar span,
.avatar.items .item span.active,
.avatar.items .item span:hover
{
    outline-color: var(--blue);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
header #user .sign-in:hover,
.ani.items .item .poster .meta.playing .progress > span,
.ep-status.sub,
.ep-status.sub::before
{
    background: var(--darkblue);
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary.focus,
.btn-primary:focus,
header #user .sign-in:hover
{
    border-color: var(--darkblue);
}
#w-episodes .body .episodes.number ul li a:visited
{
    background: #0d2430;
}
.tooltipster-content .meta-bl > div span:first-child,
.user-notification .body-box .items .no-result,
.text-light,
.btn-light
{
    color: var(--grey) !important;
}
.btn-light2:hover,
.btn-light:hover,
.btn-primary,
#hotest .item .info .actions .btn.play,
#hotest .item .info .actions .btn.play:hover,
.tabs .tab.active,
.page-item.active .page-link,
footer .azlist ul li a:hover,
section#schedule .body .items a.item:hover .ep,
.tooltipster-sidetip .tooltipster-content .actions .watch:hover,
header #user .sign-in,
.btn:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
#w-player #w-servers .servers .type ul li.active,
.room-chat .body .messages .message.self .msg-body .text,
#w-episodes .body .episodes.number ul li a.active,
#w-episodes .body .episodes.number ul li a.active:visited,
#w-episodes .body .episodes.name ul li a.active,
#w-episodes .body .episodes.name ul li a.active:visited
{
    color: #111;
}
.switch > span.active,
.switch > span:hover
{
    background-color: #dedede;
    color: #101112
}
.dropdown-menu,
header #menu > ul,
.top-profile .notify .user-notification,
#search .search-popup .foot,
#w-seasons .seasons .season a::before,
.modal-content,
#search .search-popup .body .items .item:nth-child(2n+1)
{
    background-color: #282828;
}
.top-profile .notify .user-notification .body-box .scaff.items .item:nth-child(2n)
{
    background: #252525;
}
.top-profile .notify .user-notification .body-box .scaff.items .item:hover,
.dropdown-item:focus,
.dropdown-item:hover,
.user-notification .body-box .items .item:nth-child(2n),
.dropdown-item.active,
.dropdown-item:active,
#search .search-popup .body .items .item.active,
#search .search-popup .body .items .item:focus,
#search .search-popup .body .items .item:focus-within,
#search .search-popup .body .items .item:hover
{
    background: #303030;
}
.tooltipster-box,
.bg-secondary
{
    background-color: #282828 !important;
}
.user-notification .body-box .items .item:hover
{
    background: #3d3d3d !important
}
.top-profile .notify .user-notification,
.top-profile .notify .user-notification .head-box,
#search .search-popup,
#search .search-popup .s-close,
.head-box,
.btn-secondary:hover,
.btn-secondary,
.show > .btn-secondary.dropdown-toggle,
.watchlist.items .item + .item,
section#schedule .body .more,
.modal-content,
.donate-box,
.donate-box .address
{
    border-color: #363636;
}
.user.dropdown .dropdown-menu .logout,
header #menu > ul > li:hover > a,
.modal-header
{
    background: #101010;
}
#search .search-popup,
header #search form
{
    background: #171717
}
.switch > span
{
    background-color: #1e1f20;
    border-color: #101112;
    color: #dedede;
}
header #menu > ul > li.active > a,
header #menu > ul > li:focus-within > a,
header #menu > ul > li:focus > a,
header #menu > ul > li:hover > a,
.dropdown-item:focus,
.dropdown-item:hover,
#search .search-popup .foot > a:hover
{
    color: #fff;
}
.alert-secondary
{
    background-color: #474747;
    border-color: #474747;
}
.custom-file-label::after
{
    background-color: #5e5e5e;
}
.w2g-item .screen .bg::after,
.w2g-item .screen .time
{
    background: rgb(30, 31, 32, .8)
}
.w2g-item > .inner,
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link,
.page-link,
.page-item.disabled .page-link,
section#schedule .body .items a .ep
{
    background: #262729;
}
.w2g-item:hover > .inner,
.page-link:hover,



{
    background: #2c2d2e;
}
.btn-light2:hover,
.btn-light:hover
{
    background-color: #fff !important;
}
#w-info .brating .rating
{
    background-color: #dedede;
    border-color: #dedede;
}
.bsharing,
#w-player #w-servers .servers,
#w-player #controls,
#w-media #w-episodes,
#w-info .brating .rating .stars,
.donate-box .address
{
    background: #000;
}

#w-info .binfo .info .title
{
    color: #fff;
}
#w-player #w-servers .servers .type ul li
{
    background: #242526;
    color: #888;
}
#w-player #w-servers .servers,
#w-player #controls
{
    border-top: 1px solid #101010;
}
#w-episodes .head
{
    border-color: #101010;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle
{
    background-color: #1a1b1c;
}
.form-control,
.custom-file-label,
.custom-file-label,
.custom-select
{
    background-color: #1a1b1c !important;
}
.form-control,
.custom-file-label
{
    border-color: #363636 !important;
}
#w-episodes .body .episodes.name ul li:nth-child(2n) a
{
    background: #121212;
}
#w-episodes .body .episodes.name ul li a
{
    background: #1c1c1c;
}
#w-episodes .body .episodes.name ul li a:hover
{
    background: #262626;
}
footer
{
    background: #0f0f0f;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after
{
    filter: brightness(0);
}
.adx
{
    display: none;
}
body,
html
{
    scrollbar-color: #3db4f2 #101112;
    scrollbar-width: thin;
}
::-webkit-scrollbar
{
    width: 9px;
}
::-webkit-scrollbar-thumb
{
    background: #3db4f2;
}
::-webkit-scrollbar-track
{
    background: #202125;
}
}
