@-moz-document url-prefix("https://zoro.to") {
/* Makes main zoro logos blue */
#header #logo
{
	height: 40px;
	width: 132px;
	background-image: url('https://files.catbox.moe/74pq45.png') !important;
	background-size: cover;
	background-position: center center;
}
.livestream_body #header #logo
{
	height: 50px;
	width: 165px;
	background-image: url('https://files.catbox.moe/74pq45.png') !important;
	background-size: cover;
	background-position: center center;
}
#mw-top .mwh-logo .mwh-logo-div
{
	height: 60px;
	width: 198px;
	background-image: url('https://files.catbox.moe/74pq45.png') !important;
	background-size: cover;
	background-position: center center;
}
#footer .footer-logo
{
	height: 40px;
	width: 132px;
	background-image: url('https://files.catbox.moe/74pq45.png') !important;
	background-size: cover;
	background-position: center center;
}
#discussion .d_w-icon
{
	height: 400px;
	width: 400px;
	background-image: url('https://files.catbox.moe/qxcglq.png') !important;
	background-size: cover;
	background-position: center center;
}
#footer .footer-logo img,
#header #logo img,
#mw-top .mwh-logo .mwh-logo-div img,
.add-manga .add-manga-icon img,
.cr-title .manga-icon img,
#discussion .d_w-icon img
{
	width: 0px !important;
	height: 0px !important;
}

/* Watch2Gether icon changes */
.zicon.zicon-live.mr-2,
.hst-icon > .zicon.zicon-live,
.hst-icon > .zicon.zicon-live:before,
.zicon.zicon-live
{
	background-image: url('https://files.catbox.moe/13v5j3.svg') !important;
}

/* Watch2Gether UI changes */
body.livestream_body #header,
body.livestream_body #search,
.premodal-newroom .modal-dialog .modal-content
{
	background: rgb(30, 31, 32) !important;
}
.livestream_body,
.livestream_body.livestream_body-watch
{
	background: rgb(16, 17, 18) url("https://files.catbox.moe/gn77rr.jpg") bottom center repeat-x !important;
}
.ls__-share .share-buttons.share-buttons-detail,
.ls__-share
{
	background-color: rgb(18, 18, 18) !important;
}
.ls___-detail
{
	background: rgb(28, 28, 28);
}
.ls___-animeinfo .ls____-content
{
	background: rgb(26, 26, 26)
}
.ls___-chatbox,
.ls___-chatbox .chatbox_wrap .chatbox_-input
{
	background: rgb(15, 15, 15)
}
.chatbox_-room .item.item-user,
.ls___-chatbox .chatbox_wrap .chatbox_-input .form-control-textarea
{
	background: rgb(40, 40, 40);
}
.ls___-chatbox .chatbox_wrap .chatbox_-input .form-control-textarea::placeholder,
.chatbox_-room .item.item-user,
.chatbox__-form .chatbox___-emo .cb-icon,
.ls___-chatbox .chatbox_wrap .chatbox_-input .chatbox__-btn .btn.btn-blank
{
	color: #e5f6ff;
}
.livestream_body #footer
{
	background: rgb(30, 31, 32);
}
.livestream_body .modal-backdrop.show
{
	background: #111;
}
.live__-wrap .item .live-thumbnail
{
	background: #000;
}

/* Makes MangaReader icons blue and fixes positioning */
.add-manga .add-manga-icon
{
	height: 26px;
	width: 26px;
	background-image: url('https://files.catbox.moe/8kw6lw.png') !important;
	background-size: cover;
	margin-right: 10px;
}
.cr-title .manga-icon
{
	height: 24px;
	width: 24px;
	background-image: url('https://files.catbox.moe/8kw6lw.png') !important;
	background-size: cover;
	background-position: center center;
}
@media screen and (max-width: 1400px)
{
	.anis-watch-detail .anis-content .anisc-poster .add-manga .add-manga-icon
	{
		height: 20px;
		width: 20px;
		left: 23.4px;
		position: relative;
	}
}

/* When in full player mode one scroll fits the entire player *may vary for each user
If you have issues either delete this section or edit the padding so it is correct for you */
@media screen and (max-width: 1199px)
{
	.layout-page-watchtv .anis-watch-wrap
	{
		padding-top: 38px !important;
	}
}
/* For watch now button on higher zoom ( dosesn't work :( ) */
/* @media screen and (max-width: 1299px)
{
	.qtip,
	.pre-qtip-content
	{
		display: unset !important;
	}
	.pre-qtip-description 
	{
		display: none;
	}
} */
/* Random color changes to fit blue theme */
#header_menu ul.header_menu-list .nav-item.active > a:before,
#header_menu .header_menu-sub ul.sub-menu li:hover a,
.pre-qtip-button .btn.btn-play,
#xsearch.home-search .search-content .search-submit,
#action-button,
#header #search-toggle.active .btn-on-header,
.search-content .search-result-pop .nav-bottom,
.pre-tabs-min .nav-item .nav-link.active,
.pre-pagination .pagination .page-item.active .page-link,
.premodal .modal-content .close:hover,
ul.az-list li a:hover,
ul.az-list li.active a,
.table_schedule .table_schedule-list li:hover .film-detail .fd-play .btn-play,
.dub-toggle.active .dt-status,
.table_schedule .table_schedule-date .tsd-item.active,
.ss-list .ssl-item.active:before,
.ss-list .ssl-item.active .ssli-btn .btn.btn-circle,
.ss-list.ss-list-min .ssl-item.active,
.hs-toggles .hst-item .toggle-onoff > span,
.toggle-lang > span.en,
.toggle-lang.off > span.jp,
.trending-navi > div:hover,
.choose-type .pre-tabs-min .nav-item .nav-link.active,
.chatbox_-room .item.item-mine:before,
.player-servers .ps_-status,
.ps__-list .item .btn.active,
.avatar-list .item .checked,
#slider .sc-detail .scd-item .quality,
.swiper-button:hover,
.toggle-onoff > span
{
	background: #3db4f2 !important;
}
.ss-list.ss-list-min .ssl-item:visited
{
	background: #91adbd;
}
.pre-tabs-min .nav-item .nav-link.active,
.btn-focus:hover,
.btn-primary:hover,
.btn-tab.active:hover,
.btn-focus,
.btn-primary,
.btn-tab.active,
.screen-items .item:hover .icon-play
{
	background: #3db4f2 !important;
	border-color: #3db4f2 !important;
}
.block-rating .rating-result .progress .progress-bar,
#toast-container > div.toast-success,
.cb-li .btn.btn-spoil.active i,
.award-inner .ai_-tabs a.active::before,
.loading > div
{
	background-color: #3db4f2 !important;
}
.premodal-manga .modal-content
{
	background: #35373d;
}
.highlight-text,
#mobile_menu.active i,
#mobile_search.active i,
#header_menu ul.header_menu-list .nav-item:hover > a,
#xheader_menu ul.header_menu-list .nav-item > a:hover,
#header .btn-on-header:hover,
.dropdown-item-user .user-detail .name,
.header_right-user.logged .dropdown-menu .dropdown-item:hover,
.hr-notifications.show .hrn-icon,
.btn-sm.btn-filter-item:hover,
.btn-sm.nl-item-btn:hover,
.btn-sm.btn-filter-item.active,
.block_area .block_area-header .cat-heading,
.anw-tabs .nav-item .nav-link.active,
.film-poster-ahref i,
.film-poster-ahref:before,
.pre-pagination .pagination .page-item .page-link:hover,
.link-highlight,
#sidebar_menu .sidebar_menu-list > .nav-item > a.nav-link:hover,
.heading-name,
.text-home a,
.noti-list .noti-item.new .icon,
.deslide-item .desi-sub-text,
.anif-block .anif-block-header,
.anif-block-ul li .film-fav.active,
.anif-block-ul li .film-fav:hover,
.anif-block-ul li .film-play:hover,
.cfc-min-block .cmb-item .btn-sm,
.table_schedule .table_schedule-list li:hover .time,
.table_schedule .btn-showmore:hover,
.ss-list .ssl-item.active .ssli-order,
.inbox-item.new .highlight-text,
.nli-select .custom-select,
.stx-center .stx-title,
.zr-news .item .zrn-title:hover,
.news-article > .news-title,
.toggle-basic .tb-result,
.hs-toggles .hst-item .hst-icon i,
.new-noti-list .nnl-item.new strong.manga-name,
.new-noti-list .nnl-item.nnl-more:hover,
.new-noti-list .nnl-mark .btn-xs:hover,
.share-buttons .share-buttons-block .sbb-title span,
.screen-items .item:hover .sii-title,
.live__-wrap .item .live-info .owner .uc-info strong,
.live___-detail .film-name .ep-style,
.live_-start .ls__-tabs li a.nav-link.active,
.ls___-animeinfo .film-info .film-name .ep-style,
.ls___-detail .live-stats .item.item-online,
.chatbox_-room .item.item-mine .ic_text .name,
.ls___-player-cd .player-countdown .countdown-style,
.ls___-player .pc-share a,
.player-servers .ps_-block .ps__-title i,
.player-servers .ps_-block .small strong,
span#AddMalDiv #AddMal,
.dwl-ul .dwl-item .on-chapt a,
#discussion .pre-tabs .nav-item .nav-link.active,
.player-time,
.rep-more .btn,
.ib-li .btn:hover,
.ib-li .btn.active,
.fa-comment::before,
.cw_l-line .ibody p a.tag-name,
.cw_l-line .ibody p a.player-time,
.os-list .os-item.active .title,
.trending-list .item .number span
{
	color: #3db4f2 !important;
}
a:hover,
.pre-tabs .nav-item .nav-link.active,
.premodal-manga .modal-content a:hover,
.pre-tabs .nav-item .nav-link:hover,
.wv .wv-ul .item .item-name a,
.wideview-grid .grid-item .item:hover .btn-blank,
.cd-article .cda-bottom .btn:hover,
.cd-article .cda-bottom .btn.active.btn-upvote,
.hr-community .btn i
{
	color: #3db4f2;
}
#discussion .pre-tabs .nav-item .nav-link.active,
.os-list .os-item.active,
.wv-item .wv-loadmore .btn:hover
{
	color: #3db4f2 !important;
	border-color: #3db4f2 !important;
}
.table_schedule .table_schedule-date .tsd-item.active,
.btn-focus:hover,
.btn-primary:hover,
.btn-tab.active:hover,
.hr-donate .btn
{
	color: black;
}
.table_schedule .table_schedule-date .tsd-item .date
{
	color: white;
}
.chatbox_-room .item.item-alert .alert strong
{
	color: #83d1ff;
}
.content-related .item .cr-desc,
.fav-tabs > .pre-tabs-min > .nav-item > .nav-link.active:hover,
.pre-tabs .nav-item .nav-link.active:hover,
#sidebar_menu .sidebar_menu-list > .nav-item > a.nav-link:hover,
.premodal-manga .modal-content a:hover,
#action-button:hover,
.pre-pagination .pagination .page-item.active .page-link:hover,
.pre-qtip-button .btn.btn-play:hover
{
	opacity: .9;
}
.pre-tabs-hashtag .nav-item .nav-link.active,
.pre-pagination .pagination .page-item.active .page-link:hover
{
	color: black !important;
}
.cbox.cbox-list .anif-block-chart li.item-top .film-number span
{
	border-bottom: 3px solid #3db4f2;
}

.ls___-chatbox .chatbox_wrap .chatbox_-input .form-control-textarea:focus
{
	box-shadow: 0 0 0 2px #3db4f2
}
.choose-thumbnail .lv-list .item.active,
.share-buttons .share-buttons-block .sbb-title,
.pre-tabs .nav-item .nav-link.active,
.btn-sm.btn-filter-item.active
{
	border-color: #3db4f2;
}
.nav-tabs-simple .nav-link.active
{
	border-color: #3db4f2 !important;
}
/* Makes site scrollbars blue and thin  */
*
{
	scrollbar-color: #3db4f2 #202125;
	scrollbar-width: thin;
}
::-webkit-scrollbar
{
	width: 9px;
}
::-webkit-scrollbar-thumb
{
	background: #3db4f2;
}
::-webkit-scrollbar-track
{
	background: #202125;
}
}
